# Env & config locale
.env
.env.*

# Binaires compilés
solopg
*.exe
*.exe~
*.dll
*.so
*.dylib

# Fichiers de test
*.test
*.out
__debug_bin*

# Dépendances vendorisées (si tu n'utilises pas vendor/)
vendor/

# Go workspace files
go.work
go.work.sum

# OS
.DS_Store
Thumbs.db

# IDE / autres éditeurs
.idea/
.vscode/
!.vscode/launch.json
.cursor/ 
*.swp